<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedex</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
      </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>

  <nav>
    
    <div class="nav-wrapper pink accent-3">
      <a href="/" class="brand-logo">Gotta Fave Them All</a>
      <ul class="right hide-on-med-and-down ">
        <li><a href="./pokemon"><i class="material-icons">Faves</a></li>
      </ul>
    </div>
  </nav>
  <div class= "belowNav"><img src=" https://cdn.shopify.com/s/files/1/2534/8132/products/Pokemon_Rainbow_Edible_Cake_Topper_Image_grande.jpg?v=1572900076" alt="" srcset=""></div>
    <%- body %>

    <!-- jQuery
    <script src="//code.jquery.com/jquery.js"></script> -->
    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
